@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&display=swap');

html {
  height: 100%;
  margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

.main{
    height: 90%;
    width: 100%;
    background-color: #D8EFF9;
}



nav {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hahmlet', serif;
    font-size: 3vw;
    background-color: #ffffff;
}

nav div {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(82, 82, 82);
}

nav div a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}
