@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&display=swap');

html {
  height: 100%;
  margin: 0;
}

body {
    height: 100%;
    margin: 0;
}




.main{
    height: 90%;
    width: 100%;
    background-color: #D8EFF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .content {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #828282;
}

.main .content div {
    display: flex;
    flex-grow: 3;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Hahmlet', serif;
    font-size: 5vh;
    color: #414141;
}

.main .content #border {
    border-top: 1px solid #828282;
}




input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 15vh;
    height: 7vh;
    margin-bottom: 3vh;
    background: grey;
    display: block;
    border-radius: 5vh;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 0.5vh;
    left: 5px;
    width: 6vh;
    height: 6vh;

    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}







nav {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hahmlet', serif;
    font-size: 3vw;
    background-color: #ffffff;
}

nav div {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(133, 132, 132);
}

nav div a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}
